// Please don't read this

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
}

.minesweeper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;

    .header {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        border: 1px solid black;
        margin-bottom: 1em;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    };
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1em;
        .row {
            display: flex;
        }

    }

}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 0.5px solid black;

    &.opened{
        background-color: #666666;
        &:hover {
            background-color: #666666;
        }
    }
    &:hover{
        background: rgba(0,0,0,0);
        color: #ffffff;
        box-shadow: inset 0 0 0 3px #666666;
    }
}

// Form Styling
h3, h4, h2 {
    font-family:'Roboto',sans-serif;
    margin: 0 0 0.25em;
}

h2 {
    margin-bottom: 1em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 10em;
    height: 1.5em;
    line-height: 1.5;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.select:hover::after {
    color: #f39c12;
}

.button {
    display:inline-block;
    padding:0.2em 2em;
    border:0.16em solid #2c3e50;
    margin:0 0.2em 0.2em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    border-radius: 0.25em;
    color:#2c3e50;
    text-align:center;
    transition: all 0.15s;
}

.button:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
}
.button:active{
    color:rgb(161, 22, 22);
    border-color:rgb(177, 36, 36);
}